<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Hesap Açma</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home'">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hesap Yaratın</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Hesap Oluştur</h3>
                <div class="theme-card">
                    <form class="theme-form" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && submit()">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">İsim</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel" required minlength="3" placeholder="First Name" [(ngModel)]="register.firstName">
                                <div *ngIf="firstName.invalid" class="alert alert-danger">

                                <div *ngIf="firstName.errors.required">
                                    Ad alanı gerekli.
                                </div>
                                <div *ngIf="firstName.errors.minlength">
                                    Ad alanı minimum 3 karakter olmalı.
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="review">Soyisim</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel" required minlength="3" placeholder="Last Name" [(ngModel)]="register.lastName">
                                <div *ngIf="lastName.invalid " class="alert alert-danger">

                                    <div *ngIf="lastName.errors.required">
                                        Soyisim alanı gerekli.
                                    </div>
                                    <div *ngIf="lastName.errors.minlength">
                                        Soyisim alanı minimum 3 karakter olmalı.
                                    </div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">E-Posta</label>
                                <input type="text" class="form-control" id="email" name="email" #email="ngModel" required minlength="5" placeholder="Email" required="" [(ngModel)]="register.email">
                                <div *ngIf="email.invalid" class="alert alert-danger">

                                    <div *ngIf="email.errors.required">
                                        Eposta alanı gerekli.
                                    </div>
                                    <div *ngIf="email.errors.minlength">
                                        Eposta alanı minimum 5 karakter olmalı.
                                    </div>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <label for="review">Şifre</label>
                                <input type="password" class="form-control" id="password" name="password" #password="ngModel" required minlength="3" placeholder="Enter your password" [(ngModel)]="register.password">
                                <div *ngIf="password.invalid" class="alert alert-danger">

                                    <div *ngIf="password.errors.required">
                                        Şifre alanı gerekli.
                                    </div>
                                    
                                    </div>
                            </div>
                            <button class="btn btn-solid">Hesap Yarat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->