<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Giriş Yapın</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home'">Anasayfa</a></li>
                        <li class="breadcrumb-item active" >Giriş</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Giriş Yap</h3>
                <div class="theme-card">
                    <form class="theme-form" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && loginWithEmail()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" id="email" #email="ngModel" required minlength="5" placeholder="Email" [(ngModel)]="login.email" >
                            <div *ngIf="email.invalid" class="alert alert-danger">

                                <div *ngIf="email.errors.required">
                                    Eposta alanı gerekli.
                                </div>
                                <div *ngIf="email.errors.minlength">
                                    Eposta alanı minimum 5 karakter olmalı.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review">Password</label>
                            <input type="password" class="form-control" name="password" #password="ngModel" id="password" required minlength="3" placeholder="Şifrenizi giriniz"[(ngModel)]="login.password">
                            <div *ngIf="password.invalid" class="alert alert-danger">

                                <div *ngIf="password.errors.required">
                                    Şifre alanı gerekli.
                                </div>
                                <div *ngIf="password.errors.minlength">
                                    Şifre alanı minimum 3 karakter olmalı.
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-solid">Giriş Yap</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>Yeni Müşteri</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Hesap  Yaratın</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                    <button class="btn btn-solid">Hesap oluştur</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->