<!-- 1st Level Menu -->
<!-- Sample menu definition -->
<ul id="sub-menu" class="sm pixelstrap sm-vertical">
  <li *ngFor="let menuItem of menuItems">
      <!-- Sub -->
      <a href="javascript:void(0)" *ngIf="menuItem.type === 'sub'">
         {{menuItem.categoryName}}
      </a>
      <!-- Link -->
      <a [routerLink]="menuItem.path" *ngIf="menuItem.type === 'link'">
         {{menuItem.categoryName}}
      </a>
      <!-- External Link -->
      <!-- <a href="{{ !menuItem.type ? null : menuItem.path }}" *ngIf="menuItem.type === 'extLink'">
         {{menuItem.categoryName}}
      </a>
      <!-- External Tab Link -->
      <a href="{{ !menuItem.type ? null : menuItem.path }}" *ngIf="menuItem.type === 'extTabLink'">
         {{menuItem.categoryName | translate}}
      </a> 
      <!-- 2nd Level Menu -->
      <ul [class]="menuItem.megaMenu ? 'mega-menu clothing-menu' : ''" *ngIf="menuItem.childCategories">
        
        <!-- Simple Menu Start-->
        <ng-container *ngIf="!menuItem.megaMenu">
          <li *ngFor="let childCategoryItem of menuItem.childCategories">
            <a href="javascript:void(0)" *ngIf="childCategoryItem.type === 'sub'">
              {{childCategoryItem.categoryName}}
           </a>
            <!-- Link -->
            <a [routerLink]="childCategoryItem.path" *ngIf="childCategoryItem.type === 'link'">
               {{childCategoryItem.categoryName}}
            </a>
            <!-- External Link -->
            <!-- <a href="{{ !childCategoryItem.type ? null : childCategoryItem.path }}" *ngIf="childCategoryItem.type === 'extLink'">
              {{childCategoryItem.categoryName}}
            </a>
            <!-- External Tab Link -->
            <!--<a href="{{ !childCategoryItem.type ? null : childCategoryItem.path }}" target="_blank" *ngIf="childCategoryItem.type === 'extTabLink'">
               {{childCategoryItem.categoryName}}
            </a> -->
            <!-- 3rd Level Menu -->
            <ul *ngIf="childCategoryItem.childCategories">
              <li *ngFor="let childrenSubItem of childCategoryItem.childCategories">
                <a href="javascript:void(0)" *ngIf="childrenSubItem.type === 'sub'">
                  {{childrenSubItem.categoryName}}
               </a>
                  <!-- Link -->
                  <a [routerLink]="childrenSubItem.path"
                   *ngIf="childrenSubItem.type === 'link'">
                     {{childrenSubItem.categoryName}}
                  </a>
                  <!-- External Link -->
                  <!-- <a href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}" *ngIf="childrenSubItem.type === 'extLink'">
                    {{childrenSubItem.categoryName}}
                  </a> -->
                  <!-- External Tab Link -->
                  <!-- <a href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}" target="_blank" *ngIf="childrenSubItem.type === 'extTabLink'">
                     {{childrenSubItem.categoryName}}
                  </a> -->
                  <!-- 4th Level Menu -->
                  
              </li>
            </ul>
          </li>
        </ng-container>
        <!-- Simple Menu End-->

        <!-- Mega Menu Start-->
        <ng-container *ngIf="menuItem.megaMenu">
        <li>
          <div class="row m-0">
            <div class="col-xl-4" *ngFor="let childCategoryItem of menuItem.childCategories">
              <div class="link-section">
                <h5>{{childCategoryItem.categoryName}}</h5>
                <ul>
                  <li *ngFor="let childrenSubItem of childCategoryItem.childCategories">
                     <!-- Link -->
                      <a [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]" *ngIf="childrenSubItem.type === 'link'">
                         {{childrenSubItem.categoryName}}
                      </a>
                      <!-- External Link -->
                      <a href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}" *ngIf="childrenSubItem.type === 'extLink'">
                        {{childrenSubItem.categoryName}}
                      </a>
                      <!-- External Tab Link -->
                      <a href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}" target="_blank" *ngIf="childrenSubItem.type === 'extTabLink'">
                         {{childrenSubItem.categoryName}}
                      </a>
                  </li>
                </ul>    
              </div>
            </div>
            <div class="col-xl-4">
                <a [routerLink]="['/home/one']" class="mega-menu-banner"><img src="assets/images/mega-menu/bag.jpg" alt="" class="img-fluid"></a>
            </div>
          </div>
        </li>
        </ng-container>
        <!-- Mega Menu End-->
      </ul>
    </li>
</ul>
