<!-- brand filter start -->
<div class="collection-collapse-block open">
    <h3 class="collapse-block-title">Beden</h3>
    <div class="collection-collapse-block-content">
      <div class="collection-brand-filter">
        <div class="custom-control custom-checkbox collection-filter-checkbox"  *ngFor="let filter of sizesFilters">
          <input type="checkbox" style="z-index:5" class="custom-control-input" [value]="filter.name" (change)=checkedFilter($event) id="{{filter.id}}">
          <label class="custom-control-label" for="{{filter.name}}">{{filter.name}}</label>
        </div>
      </div>
    </div>
  </div>